.alertModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    padding: 5px;
}
.title{
    margin: 0;
    line-height: 30px;
}
.modalBox {
    width: 40%;
    height: 25%;
    min-width: 250px;
    max-height: 150px;
    background: #fff;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 25%;
    z-index: 99;
}